@import "compass";
@import "variables";
@include font-face("Exo", font-files("/fonts/exo.woff"));

body {
    background-color: #000;
    overflow: hidden;
    font-family: 'Exo';
}

canvas {
    height: 100%;
    width: 100%;
}

button {
    font-family: 'Exo';
    font-size: 0.4em;
    padding: 20px;
    background: #ddd;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.hide {
	display: none;
}
