@import "compass";
@import "variables";

#gamePad {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background: #ddd;
	background: url('../images/table.png') repeat;
	text-align: center;

	#cable {
		display: inline-block;
		background: #333;
		height: 20px;
		width: 3%;
		@include boxShadow(0px, 0px, 35px, 10px, rgba(0, 0, 0, 0.75), null);
		border-left: 5px solid #222;
		border-right: 5px solid #222;
	}

	#pad {
		position: absolute;
		top: 20px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		border-radius: 16%;
		@include topBottomGradiant(#222, #000);
		@include boxShadow(0px, 0px, 40px, 5px, rgba(0, 0, 0, 0.75), null);
		border-left: 10px solid #111;
		border-right: 10px solid #111;
		border-bottom: 15px solid #111;
	}

	.header {
		position: absolute;
		top: 20px;
		width: 100%;
		z-index: 1000;
		text-align: center;
		color: #eee;
		font-size: 2.5em;

		div {
			display: inline-block;
			text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);

			&:before {
				content: url('../images/car_1.png');
				float: left;
				padding-right: 20px;
			}
			&.player0:before {
				content: url('../images/car_0.png');
			}
			&.player1:before {
				content: url('../images/car_1.png');
			}
			&.player2:before {
				content: url('../images/car_2.png');
			}
			&.player3:before {
				content: url('../images/car_3.png');
			}
		}		
	}

	.centerVertical {
		vertical-align: middle;
		display: table-cell;
	}

	.controls {
		position: absolute;
		top: 20%;
		left: 0px;
		height: 70%;
		width: 100%;
		text-align: center;
		display: table;

		button {
			background: #ddd;
			height: 0;
			width: 20%;
			padding-bottom: 20%;
			margin: 0px 0px 0px 1%;
			border-radius: 100%;
			@include boxShadow(0px, -15px, 0px, 0px, #bbb, inset);
			border: 0;
			bottom: 10%;
			display: inline-block;

			&.active {
				@include boxShadow(0px, -5px, 0px, 0px, #bbb, inset);
				@include transform(translateY(2px));
			}

			img {
				height: 30%;
				width: 30%;
				padding: 35%;
				opacity: 0.8;
			}

			&#turnLeftBtn {
				margin-left: 0;

				img {
					@include transform(rotate(180deg));
				}
			}

			&#turnRightBtn {
				margin-right: 10%;
			}

			&#accelerateBtn {
				background: #5c5;
				@include boxShadow(0px, -15px, 0px, 0px, #3a3, inset);
				
				img {
					@include transform(rotate(-90deg));
				}

				&.active {
					@include boxShadow(0px, -5px, 0px, 0px, #3a3, inset);
				}

			}

			&#brakeBtn {
				background: #c55;
				@include boxShadow(0px, -15px, 0px, 0px, #a33, inset);
				
				img {
					@include transform(rotate(90deg));
				}

				&.active {
					@include boxShadow(0px, -5px, 0px, 0px, #a33, inset);
				}

			}
		}
	}

	#joinGameDialog {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		background: rgba(0, 0, 0, 0.8);
		z-index: 100000;
		display: table;
		font-size: 1.2em;
		animation: none;

		h3 {
			padding: 20px;
			color: #111;
			@include box-shadow(0px 3px 6px 3px rgba(0, 0, 0, 0.15));
        	background: rgba(220, 220, 220, 0.85);
		}

		input {
			font-size: 0.6em;
			width: 30%;
			padding: 10px;
		}

		button {
			font-size: 0.6em;
			padding: 10px;
			font-weight: bold;

			&:active {
				background: #999;
			}
		}

		&.loading {
			@include animation(blink 1000ms alternate infinite);
		}

	}

}
